{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_customdashboard/dashboard

    Custom Dashboard block template.

    Context variables required for this template:
    * children - Array of child users
    * haschildren - Boolean if there are children
    * courses - Array of courses
    * hascourses - Boolean if there are courses
}}

<div class="block-customdashboard">
    {{#haschildren}}
    <div class="child-selector-wrapper mb-3 d-flex align-items-center gap-3">
        <label for="child-selector" class="form-label">{{#str}}selectchild, block_customdashboard{{/str}}</label>
        <select id="child-selector" class="form-select">
            {{#children}}
            <option value="{{id}}" {{#selected}}selected{{/selected}}>{{fullname}}</option>
            {{/children}}
        </select>
    </div>

    {{#hascourses}}
    <div class="courses-container">
        {{> block_customdashboard/view-cards }}
    </div>
    {{/hascourses}}

    {{^hascourses}}
    <div class="alert alert-info">
        {{#str}}nocourses, block_customdashboard{{/str}}
    </div>
    {{/hascourses}}

    {{/haschildren}}
</div>
